.numeros{
    max-width: 1200px;
    margin: 0 auto;
}
.numeros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 6em;
    gap: 20px;
}
span.paragrafo{
    padding-top: 1rem;
    color: red;
}