@import url('https://fonts.googleapis.com/css2?family= Caveat: wght @500 & display=swap');
@font-face {
    font-family: "font-nome";
    src: url("TheStudentsTeacher-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    width: 40%;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    animation-duration:40s;
    cursor: pointer;
    margin-bottom: 2rem;
}


main{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    max-width: 600px;
    margin: 0 auto;
}
.card{
    padding: auto 0;
    display: none;
}
h1{ 
    text-align: center;
    padding: 4rem 0;
    font-size: 2rem;
    
}
button{
    background-color: transparent;
    border: none;
}
.carta-h1{
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}
.clica{
    margin-top: 10px;
    font-size: 0.7rem;
}
span{
    opacity: 0.5;
}
button{
    margin-top: 5rem;
}
.carta-p,.gato-feio {
    display: none;
    font-family: 'Montserrat', sans-serif;
}

.carta-p,.carta-p-2{
    font-size: 0.8rem;
    line-height: 1.7;
    text-align: center;
}
.carta-img{
    padding: 0;
    background-color: #64c850;
}
.decl{
    display: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    animation: rgb .3s infinite;
    padding: 0.2rem;
}
.card h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}
@keyframes rgb{
    0%{
        border: 1px solid blue;
        box-shadow: 0px 7px 29px 0px;
        
    }
    20%{
        border: 1px solid rgb(0, 255, 30);
        box-shadow: 0px 7px 29px 0px;
    }
    40%{
        border: 1px solid rgb(8, 220, 149);
        box-shadow: 0px 7px 29px 0px;
    }
    60%{
        border: 1px solid rgb(208, 41, 8);
        box-shadow: 0px 7px 29px 0px;
    }
    80%{
        border: 1px solid rgb(188, 13, 138);
        box-shadow: 0px 7px 29px 0px;
    }
    100%{
        border: 1px solid rgb(213, 255, 3);
        box-shadow: 0px 7px 29px 0px;
    }
  
}
.gato-feio{
    width: 70%;
    margin: 0 auto;
    
}

.p{
    text-align: center;
    font-family: cursive;
    box-shadow: rgba(40, 22, 143, 0.15) 0px 48px 100px 90px;
    padding: 2rem;
    margin-bottom: 2rem;
}
.ativar{
    display: block;
}
.nome{
    opacity: 1;
    display: inline-block;
    border-bottom: 3px solid rgba(234, 234, 234, 0.284);
    margin-bottom: 1rem;
    font-family: "font-nome";
    font-weight: 700;
    font-size: 1.3rem;

}
.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 0.5rem ;
}